---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
body{
  background-color: lightblue;
  font-family: 'Roboto';
}
footer{
  background-color: lightgray;
  color:black;
}
